<template>
  <v-app>
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <v-list two-line>
        <template>
          <v-layout row align-center>
            <v-flex xs6>
              <v-subheader>
                Filter
              </v-subheader>
            </v-flex>
          </v-layout>
          
          <v-list-tile>
            <v-list-tile-content>
                <v-layout row>
                  <v-flex xs12>
                    <v-select box :items="listCondition" v-model="filter.condition" label="Kondisi"></v-select>
                  </v-flex>
                </v-layout>
            </v-list-tile-content>
          </v-list-tile>
          
          <v-list-tile>
            <v-list-tile-content>
                <v-layout row>
                  <v-flex xs12>
                    <v-select box :items="listLocation" v-model="filter.location" label="Lokasi"></v-select>
                  </v-flex>
                </v-layout>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
                <v-layout row>
                  <v-flex xs12>
                    <v-select box :items="listBrand" v-model="filter.brand" label="Merk"></v-select>
                  </v-flex>
                </v-layout>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
                <v-layout row>
                  <v-flex xs5>
                    <v-select box :items="listYear" v-model="filter.yearStart" label="Tahun"></v-select>
                  </v-flex>
                  <v-flex xs2>
                    <span style="line-height: 60px; font-size: 24pt; text-align: center">-</span>
                  </v-flex>
                  <v-flex xs5 align-self-end>
                    <v-select box :items="listYear" v-model="filter.yearEnd" label="Tahun"></v-select>
                  </v-flex>
                </v-layout>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed
    >
      <v-toolbar-title class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title style="text-align: center;">
        Cari Harga Mobil
      </v-toolbar-title>
      <v-spacer></v-spacer>
      </v-toolbar>

    <v-content>
      <v-container>
        <v-layout row wrap>
          <v-flex xs9 lg7 offset-xs1 offset-lg2>
            <v-text-field v-model="searchQuery" placeholder="Masukkan kata kunci" solo></v-text-field>
          </v-flex>
          <v-flex xs1 lg1>
            <v-btn color="primary" @click="getAllData" :loading="loading" :disabled="loading">
              <v-icon>search</v-icon>
              Search
              </v-btn>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs4 lg2 offset-xs1 offset-lg2>
            <span style="line-height: 50px; font-weight: bold;" class="blue--text">Urutkan Berdasarkan</span>
          </v-flex>
          <v-flex xs6 lg3>
            <v-select label="Sorting" @change="sortData()" solo :items="sortingList" v-model="sortMode"></v-select>
          </v-flex>
        </v-layout>
        
        <v-layout row wrap>
          <v-flex xs10 lg8 offset-xs1 offset-lg2>
            <v-progress-linear v-if="loading" :indeterminate="true"></v-progress-linear>
          </v-flex>
        </v-layout>

        <template v-for="item in items">
          <v-layout row wrap class="mb-2" :key="item.adUrl">
            <v-flex xs10 lg8 offset-xs1 offset-lg2>
              <v-card color="white" class="pa-3 elevation-2" style="text-align: left;">
                <v-layout>
                  <v-flex xs3>
                    <v-img
                      :src="item.imageUrl"
                      :contain="true"
                      height="100px"
                    ></v-img>
                  </v-flex>
                  <v-flex xs9>
                    <v-card-title primary-title class="pa-0">
                      <div>
                        <div class="title" :title="item.adName" >{{item.adName.substr(0, 40) + '...'}}</div>
                        <div class="subheading">Rp. {{parseFloat(item.price).toLocaleString("en")}}</div>
                        <div class="caption"><v-icon small>directions_car</v-icon> {{item.brand}}</div>
                        <div class="caption"><v-icon small>location_on</v-icon> {{item.location}}</div>
                        <div class="caption"><v-icon small>timelapse</v-icon> {{item.year}}</div>
                      </div>
                    </v-card-title>
                  </v-flex>
                </v-layout>
                <v-card-actions class="pb-0 ma-0">
                  <v-btn :href="item.adUrl" target="_blank" small color="info">
                    Go To Site
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-img style="text-align: right;" max-width="25px" :contain="true" :src="item.siteName.toLowerCase() + '.png'"></v-img>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
      </v-container>
    </v-content>

  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      loading: false,
      dialog: false,
      drawer: null,
      filter: {
        condition: "",
        location: "",
        brand: "",
        yearStart: "",
        yearEnd: ""
      },
      searchQuery: "",
      items: [],
      sortingList: [
        {
          text: "Harga Termurah",
          value: 0
        },
        {
          text: "Harga Termahal",
          value: 1
        },
        {
          text: "Tahun Keluaran Terbaru",
          value: 2
        },
        {
          text: "Tahun Keluaran Terlama",
          value: 3
        }
      ],
      sortMode: 0,
      // siteName: "OLX",
      // imageUrl: "http://lorempixel.com/output/transport-q-c-200-200-6.jpg",
      // adName: "Honda Brio RS CVT",
      // price: 120000000,
      // adUrl: "https://olx.co.id",
      // brand: "Honda",
      // year: 2017,
      listCondition: ["Semua", "Baru", "Bekas"],
      listBrand: [
        "Toyota",
        "Honda",
        "Suzuki",
        "Mitsubishi",
        "Daihatsu",
        "Nissan",
        "Mazda",
        "Mercedes-Benz",
        "Hyundai",
        "Chevrolet"
      ],
      listLocation: [
        "Jabodetabek",
        "DKI Jakarta",
        "Jawa Barat",
        "Jawa Timur",
        "Banten",
        "Jawa Tengah",
        "Sulawesi Selatan",
        "Bali",
        "Sumatera Utara",
        "Yogyakarta",
        "Kalimantan Timur",
        "Sumatera Selatan",
        "Kalimantan Barat",
        "Papua",
        "Lampung",
        "Riau",
        "Sulawesi Utara",
        "Jambi",
        "Kalimantan Selatan",
        "Sumatera Barat",
        "Kepulauan Riau",
        "Sulawesi Tengah",
        "Nangroe Aceh Darussalam",
        "Bangka Belitung",
        "Nusa Tenggara Barat",
        "Bengkulu",
        "Gorontalo",
        "Sulawesi Tenggara",
        "Maluku",
        "Kalimantan Tengah",
        "Nusa Tenggara Timur",
        "Irian Jaya Barat",
        "Sulawesi Barat",
        "Maluku Utara"
      ]
    };
  },
  computed: {
    listYear() {
      var year = [];
      for (var i = new Date().getFullYear(); i >= 1990; i--) {
        year.push(i);
      }
      return year;
    }
  },
  methods: {
    getSortMode() {
      if (this.sortMode == 0) {
        return function(a, b) {
          return a.price - b.price;
        };
      }

      if (this.sortMode == 1) {
        return function(a, b) {
          return b.price - a.price;
        };
      }

      if (this.sortMode == 2) {
        return function(a, b) {
          return a.year - b.year;
        };
      }

      if (this.sortMode == 3) {
        return function(a, b) {
          return b.year - a.year;
        };
      }
    },
    sortData() {
      this.items = this.items.sort(this.getSortMode());
    },
    getAllData() {
      if (this.searchQuery == "") {
        alert("Mohon ketikkan kata kunci.");
        return;
      }

      if (this.filter.yearStart > this.filter.yearEnd) {
        this.filter.yearStart = "";
        this.filter.yearEnd = "";
        alert("Tahun mulai tidak boleh lebih besar dari tahun selesai.");
        return;
      }

      this.loading = true;
      Promise.all([
        this.promiseMobil123(),
        this.promiseOLX(),
        this.promiseCarmudi()
      ]).then(result => {
        this.loading = false;
        this.items = [
          ...result[0].data,
          ...result[1].data,
          ...result[2].data
        ].sort(this.getSortMode());
      });
    },

    promiseMobil123() {
      return new Promise((resolve, reject) => {
        this.axios
          .post("http://localhost:8084/scrapeMobil123", {
            q: this.searchQuery,
            filterCondition: this.filter.condition,
            filterYearStart: this.filter.yearStart,
            filterYearEnd: this.filter.yearEnd,
            filterBrand: this.filter.brand,
            filterLocation: this.filter.location
          })
          .then(result => {
            resolve(result);
          })
          .catch(err => {
            reject(err);
          });
      });
    },
    promiseOLX() {
      return new Promise((resolve, reject) => {
        if (this.filter.condition.toLowerCase() == "baru") {
          console.log("BARU");
          resolve({ data: [] });
        }
        this.axios
          .post("http://localhost:8084/scrapeOLX", {
            q: this.searchQuery,
            filterCondition: this.filter.condition,
            filterYearStart: this.filter.yearStart,
            filterYearEnd: this.filter.yearEnd,
            filterBrand: this.filter.brand,
            filterLocation: this.filter.location
          })
          .then(result => {
            resolve(result);
          })
          .catch(err => {
            reject(err);
          });
      });
    },
    promiseCarmudi() {
      return new Promise((resolve, reject) => {
        this.axios
          .post("http://localhost:8084/scrapeCarmudi", {
            q: this.searchQuery,
            filterCondition: this.filter.condition,
            filterYearStart: this.filter.yearStart,
            filterYearEnd: this.filter.yearEnd,
            filterBrand: this.filter.brand,
            filterLocation: this.filter.location
          })
          .then(result => {
            resolve(result);
          })
          .catch(err => {
            reject(err);
          });
      });
    }
  }
};
</script>
